PI_HOSTNAME="<your pi hostname>.local"
PI_USERNAME="<your pi username>"
# NOTE: No password, we use key access
MQTT_USERNAME="<your mqtt username>"
MQTT_PASSWORD="<an mqtt password>"
BOARD_NAME="<board service in use>"
HOTSPOT_SSID="<HOTSPOT SSID>"
HOTSPOT_PASSWORD="<use this password>"
PS4_MAC_ADDRESS="<your ps4 mac address>"
