[Unit]
Description={{ service_description }}
After=mosquitto.service

[Service]
Type=simple
Restart={{ restart }}
WorkingDirectory=/home/{{ pi_username }}/
ExecStart=/usr/bin/python3 -m {{ service_module }}
EnvironmentFile=/etc/robot.env
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
